body{
 background-color: #F7F7F7;

}
.header-strip{
    background: #4A4C41;
    width: 100%;
    color: #C2C2C2;
}
.renters{
    border-right: 1px solid #C2C2C2;
}
.h-strip{
 margin-top: 5px;

    cursor: pointer;
}
.logo-strip{
 color: #C2C2C2;

    height: 500px;
    background: url(../img/1.jpg);
    background-size: cover;
    overflow: hidden;
}
.l-strip{
font-family: 'Sacramento', cursive;
    font-size: 30px;
    margin-top: 30px;
    font-weight: bolder;
}
.lg-img{
   margin-top: 20px;
}
.site-tile{
 text-transform: uppercase;
    margin-left: 25%;
    font-weight: bolder;
    font-size: 30px;
}
.site-title{
 text-transform: uppercase;
    margin-left: 25%;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.buttn{
    border: 2px solid #00A7E6;
    height: 40px;
    width: 120px;
    padding-left: 30px;
    padding-top: 7px;
    text-transform: uppercase;
    font-weight: bold;
  float: left;
    background-color: #00A7E6;

    cursor: pointer;
}
.buttn2{
    border: 2px solid #716558;
    height: 40px;
    width: 120px;
    padding-left: 30px;
    padding-top: 7px;
    text-transform: uppercase;
    font-weight: bold;
   float: left;
    background-color: #716558;
    margin-left: 20px;
    cursor: pointer;
}
.buttons{
 margin-left: 25%;
}
.buttn:hover{
     border: 2px solid #00A7E6;
    background-color: transparent;

}
.buttn2:hover{
    border: 2px solid #716558;
    background-color: transparent;
}

.property{
    margin-top: 30px;
     background: #F7F7F7;
}
.about-large{
 margin-top: 30px;

}
.seemore{
    border: 2px solid #00A7E6;
    height: 40px;
    width: 120px;
    padding-left: 30px;
    padding-top: 7px;
    text-transform: uppercase;
    font-weight: bold;
 color: #67717C;
margin-left: 700%;
    cursor: pointer;
}
.seemore:hover{
  border: 2px solid #00A7E6;
    background-color: #00A7E6;
}
.bannerme{
margin-top: 30px;
    background: #F7F7F7;
}
.bner{
    background-color: #716558;
    height:auto;
    color: #EEEEEE;
    font-family: 'Armata', sans-serif;
}
.west{
    font-family: 'Armata', sans-serif;
}
 #myOverlay1 {
                width:600px;
                height:400px;
            }
  #myOverlay4 {
                width:600px;
                height:400px;
            }
            #myOverlay2 {

                height:50%;
            }
            #myOverlay3 {

            }
.logo-popup{

}

.search-bar{
    margin-top: 10px;
}

		.sidecontentpullout {
			background-color: #00A7E6;
			color: White;
			padding: 4px 3px;
			-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			border-top-left-radius: 1em;
                font-family: 'Armata', sans-serif;
		}

		.sidecontentpullout:hover {
			background-color: #444444;
			color: White;
		}

		.sidecontent {
			background-color: #00A7E6;
			color: White;
			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
                font-family: 'Armata', sans-serif;
		}

		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
		}
.btn-offer{
 border: 2px solid #706C5B;
    width: 70%;
    height: 40px;
    padding-top: 7px;
    padding-left: 50px;
    color: #706C5B;
    cursor: pointer;
    background-color: transparent;
    margin-left: 30px;
}
.btn-offer:hover{
border: 2px solid #706C5B;
    background-color:  #706C5B;
    color: #2CAFDF;
}
.socialicons{
    margin-left: 25%;
}
.hdr-strip-one{

  background: url(../img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: white;

}
.properties{
 margin-top: 30px;
    font-family: 'Armata', sans-serif;

}
.prop{
     height: 200px;

}
.prp-tiltle{

    text-transform: uppercase;

}
.prp-location{
    color: #A89EAB;

}
.division{
     margin-top: 80px;
    border-bottom: 1px solid #A89EAB;
}
.filter{
 border: 1px solid white;

}

.properties{

 height:300px;

}
.footer2{
 margin-top: 30px;
}
.bodyofproof{
 margin-top: 30px;
    margin-left: 25%;

}
.btnbox{
    width: 130px;
    height: 45px;
    border: 1px solid #999999;
    float: left;
    margin-left: 20px;

}
.btn-left{
 width: 30px;
    height: 40px;
    border-left: 1px solid  #999999;
    background-color: #999999;;
}
#gallery{width:410px;text-align:center;margin:0 auto}
#gallery .slides li{list-style:none;display:none;position:relative;opacity:.8}
#gallery .slides li.active{background:#f00;display:block;opacity:1}
#gallery .slides img{width:410px;display:block}
#gallery .nav{text-align:center;margin:10px 0}
#gallery .nav li{display:inline-block}
#gallery .nav a{width:13px;height:13px;display:block;background: url(../img/nav.png) no-repeat;cursor:pointer;text-indent:-99999px}
#gallery .nav a:hover{width:13px;height:13px;display:block;background:url(../img/nav.png) no-repeat 0 -13px;cursor:pointer;text-indent:-999em}
#gallery .nav a.active{width:13px;height:13px;display:block;background:url(../img/nav.png) no-repeat 0 -26px}
.desc-detailed{
     font-family: 'Armata', sans-serif;
}
.ques{
   border-bottom: 1px solid black;
}
.gplus{
   background-color: #DB6558;
    height: 40px;
    width: 130px;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
    margin-left: 10px;
    cursor: pointer;

}
.fb{
   background-color: #466AB3;
    height: 40px;
    width: 130px;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
    margin-left: 10px;
    cursor: pointer;

}
.twitter{
   background-color: #3BBCEB;
    height: 40px;
    width: 130px;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
    margin-left: 10px;
    cursor: pointer

}
.gplus:hover{

}
